@import '../../mixins';

/** A React component holding the main application toolbar component. */
#desktop-app-toolbar {
  height: var(--toolbar-height);
  border-bottom: 1px solid var(--toolbar-border-color);

  display: flex;
  flex-direction: row;

  flex-grow: 0;
  flex-shrink: 0;

  /* See https://css-tricks.com/flexbox-truncated-text/
   * We need to do this "hack" or else the container will
   * always grow to fit the intrinsic width of its children
   * and thus killing our text truncation in the title.
   */
  min-width: 0;

  color: var(--toolbar-text-color);
  background-color: var(--toolbar-background-color);

  .sidebar-section {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;

    & > :last-child {
      // Redundant when `.resizable` is used, remove when
      // enableResizingToolbarButtons() is removed.
      flex-grow: 1;
    }
  }

  .owner-dropdown-list,
  .project-dropdown-list {
    min-width: 200px;
    max-height: 300px;
    display: flex;
    flex-direction: column;

    .filter-input {
      padding: var(--spacing-half) var(--spacing);
      margin: var(--spacing-half);
      border: 1px solid var(--box-border-color);
      border-radius: var(--border-radius);
      background-color: var(--box-background-color);
      color: var(--text-color);
      font-size: var(--font-size);
      outline: none;

      &:focus {
        border-color: var(--focus-color);
      }
    }

    .owner-dropdown-items,
    .project-dropdown-items {
      overflow-y: auto;
      flex: 1;
    }

    .owner-dropdown-item,
    .project-dropdown-item {
      // Reset button styles
      background: none;
      border: none;
      width: 100%;
      text-align: left;
      font-family: inherit;
      font-size: inherit;
      color: inherit;

      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: var(--spacing-half) var(--spacing);
      cursor: pointer;

      &:hover {
        background-color: var(--box-selected-background-color);
      }

      &.selected {
        background-color: var(--box-selected-active-background-color);
      }

      &:focus {
        outline: none;
        background-color: var(--box-selected-background-color);
      }

      .owner-name,
      .project-name {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .octicon {
        margin-left: var(--spacing-half);
        color: var(--text-color);
      }
    }
  }

  .toolbar-button {
    &.resizable {
      // Fill the available height of the parent
      flex-grow: 1;
      max-height: var(--toolbar-height);
    }

    &.push-pull-button {
      width: 230px;

      &.resizable {
        width: 100%;
      }
    }
    &.branch-toolbar-button {
      width: 230px;

      &.resizable {
        width: 100%;
      }
    }
    &.revert-progress {
      width: 230px;

      &.resizable {
        width: 100%;
      }
    }
    &.toolbar-dropdown-arrow-button {
      width: 39px;
      &.resizable {
        flex-shrink: 0;
      }
    }
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 1s linear infinite;
}

.ahead-behind {
  display: flex;

  background: var(--toolbar-badge-background-color);

  // Perfectly round semi circle ends with real tight
  // padding on either side. Now in two flavors!
  @include darwin {
    height: 13px;
  }

  @include win32 {
    height: 14px;
  }

  border-radius: 8px;
  padding: 0 6px;

  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-semibold);

  span {
    display: flex;
    align-items: center;

    // Only add left margin if both ahead and behind are
    // showing at the same time.
    &:nth-child(2) {
      margin-left: var(--spacing-half);
    }

    .octicon {
      width: 10px;
      margin-left: var(--spacing-third);
    }
  }
}
